@model IEnumerable<Project.Models.CAU_HOI>
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Management/Views/Shared/_LayoutManager.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-laptop"></i> Quản Trị</h3>
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
            <li><i class="fa fa-question-circle"></i><a href="#">Bài tập</a></li>
            <li><i class="fa fa-question"></i><a href="#">Chỉnh sửa</a></li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">Thông tin bài tập @ViewBag.idbaitap, Số câu hỏi @ViewBag.socauhoi</header>
            <div class="panel-body">
                <ol class="ordered-list">
                    @foreach(var item in Model)
                    {
                        <li style="margin-top:10px;">@item.NoiDungCauHoi | @Html.ActionLink("Xem chi tiết câu hỏi", "Details", "QuestionManagerment", new { id = item.MaCauHoi }, new { @class = "" })</li>
                    }
                </ol>
                @Html.ActionLink("Thêm câu hỏi", "ThemDeBai", new { ID=ViewBag.idbaitap})
            </div>
        </section>
    </div>
</div>


